/* General App Styling */
.app {
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  padding: 20px;
  background-color: #121212; /* Dark background */
  color: #b1b1b1; /* Light text */
  min-height: 100vh;
}

/* Header with Logo */
.app-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.logo {
  font-size: 2em;
}

.PES {
  color: #f49221;
  font-family: 'Caveat', cursive;
  font-weight: 900;
}

.to {
  color: #405084;
  font-family: 'Caveat', cursive;
  font-weight: 900;
}

a{
  text-decoration: none;
}

/* Calculator Styling */
.calculator {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #1e1e1e; /* Slightly lighter background for form */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

/* Heading */
h1 {
  color: #b1b1b1;
  font-size: 2em;
  margin-bottom: 20px;
}

/* Course Row Styling */
.course-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Input and Select Fields */
.course-input,
.course-select {
  background-color: #2c2c2c;
  color: #b1b1b1;
  border: 2px solid #2c2c2c; /* Default border */
  border-radius: 8px; /* Rounded corners */
  padding: 12px 15px;
  font-size: 1em;
  outline: none;
  width: 30%; /* Ensure all fields take equal width */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus */
}

/* Placeholder Styling */
input::placeholder {
  color: #b0b0b0; /* Lighter placeholder text */
}

/* Input Focus Effect */
.course-input:focus,
.course-select:focus {
  border-color: #76c7c0; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(118, 199, 192, 0.5); /* Glow effect */
}

/* Select Field */
.course-select {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8"><polygon points="0,0 6,8 12,0" fill="%2376c7c0"/></svg>'); /* Custom dropdown arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

/* GPA Result */
.gpa-result {
  margin-top: 20px;
  font-size: 1.5em;
  color: #405084; /* Subtle cyan for GPA result */
}

/* Button Styling */
.calculate-button {
  background-color: #f49221;
  color: #121212;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.calculate-button:hover {
  background-color: #64b2ac;
}

